:root {
    --bg-color: #6C4E31;
    --field-color: #FFDBB5;

    font-size: 16px;
}

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: sans-serif;
    background-color: var(--bg-color);
}

main {
    display: grid;
    grid-template-areas: "game stats";

}

/*playing field*/
#gameContainer {
    grid-area: "game";
    width: clamp(300px, 80vw, 600px);
    aspect-ratio: 1 / 1; 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 4px;
    margin: 40px auto;
    background-color: var(--field-color);
}

.cell {
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* X and O styling*/
.fa-x, .fa-o {
    display: none;
    font-size: clamp(3rem, 10vw, 6rem);
    font-weight: 900;
}

/*Gameoutcome page styling*/
#gameoutcome {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 700px;
    height: 300px;
    transform: translate(-50%, -50%);
    background-color: #ff4757;
    padding: 20px;
    border-radius: 8px;
    z-index: 1000;
}

#restartBtn {
    width: 100px;
}

/*stat display*/
#stats {
    grid-area: "stats";
    min-width: 400px;
    margin-top: 40px;
}

#stats section{
    text-align: center;
}

#stats section p{
    font-size: 2rem;
}

#stats section span{
    font-size: 2rem;
}

