:root {
    --bg-color: #6C4E31;
    --field-color: #FFDBB5;

    font-size: 16px;
}

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: sans-serif;
    background-color: var(--bg-color);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*playing field*/
#playing-field {
    width: clamp(300px, 80vw, 600px);
    aspect-ratio: 1 / 1; 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 4px;
    margin-top: 40px;
    background-color: var(--field-color);
}

.field {
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
}

/* X and O styling*/


/*stat display*/
#stats {
    min-width: 400px;
    margin-top: 40px;
}

#stats section{
    text-align: center;
}

#stats section span{
    font-size: 2rem;
}
